.width-max {
  width: 100%;
}

.width-90-percent {
  width: 90%;
}
.width-80-percent {
  width: 80%;
}

.width-inherit {
  width: inherit;
}

.button-primary {
  color: #ffffff;
  background: linear-gradient(to right, #1d2671, #c33764);
}
.button-delete {
  background: linear-gradient(to right, #93291e, #ed213a);
}

.button-header {
  color: #ffffff;
  background-color: #424242;
}

.mar-x-5 {
  margin: 0 5px;
}
