<!-- <p>"userId": 1,</p>
<p>"id": 1</p>
<p>"title": "delectus aut autem"</p>
<p>"completed": false</p> -->
<div class="form-wrapper">
  <div class="input-wrapper">
    <mat-label for="postId">post ID</mat-label>
    <input
      matInput
      id="postId"
      class="input-field"
      type="number"
      [value]="postId"
      disabled="true"
    />
  </div>
  <div class="input-wrapper">
    <mat-label for="userId">user ID</mat-label>
    <input
      matInput
      id="userId"
      class="input-field"
      type="number"
      [value]="userId"
      disabled="true"
    />
  </div>
  <div class="input-wrapper">
    <mat-label for="title">Title</mat-label>
    <input
      matInput
      id="title"
      class="input-field"
      type="text"
      [value]="postTitle"
      [disabled]="!isEditable"
    />
  </div>
  <div class="input-wrapper">
    <mat-label for="status">Status</mat-label>
    <input
      matInput
      id="status"
      class="input-field"
      type="text"
      [value]="postStatus"
      [disabled]="!isEditable"
    />
  </div>
</div>

<div class="controls">
  <button *ngIf="canAdd" mat-button class="button-header" (click)="goToPosts()">
    Add
  </button>
  <a
    *ngIf="!isEditable && !canAdd"
    mat-button
    class="button-header"
    (click)="goToEditPage(postId)"
    >Edit</a
  >
  <button
    *ngIf="isEditable"
    mat-button
    class="button-header"
    (click)="goToPosts()"
  >
    Done
  </button>
</div>
