@import url(./styles/_shared-classes.scss);

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: linear-gradient(to right, #1d2671, #c33764);
  padding: 20px 0;
  .header {
    margin: 15px 0;
    display: flex;
    justify-content: center;
  }
}
