<div class="mat-elevation-z8 width-inherit">
  <table mat-table [dataSource]="dataSource" class="width-inherit">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">
        <a mat-button (click)="goToPage(element, $event)">{{ element.id }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>User ID</th>
      <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        {{ shortenTextContent(element.title, 10) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        {{ shortenTextContent(element.body, 50) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <a
          mat-button
          class="button-primary mar-x-5"
          (click)="goToPage(element, $event)"
          >Edit</a
        >
        <a
          mat-button
          class="button-primary mar-x-5"
          (click)="goToPage(element, $event)"
          >Details</a
        >
        <a
          mat-button
          class="button-delete mar-x-5"
          (click)="goToPage(element, $event)"
          >Delete</a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
